.kid-container {
  outline-offset: 1px;
  position:relative;
  width:200px;
  height:350px;
  z-index:1000;
  top:-50px;
}
.kid-container > .kid {
  position: absolute;
  right:initial;
  width:200px;
  height:350px;
}

.kid-container > .kid .group {
  left: -25px;
  top: -37px;
  position: relative;
}

.waveHand .kid-container > .kid .head,
.kid-container > .kid .head {
  position: absolute;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(15deg);
  transform-origin: 113px 83px;
  z-index: 100;
  transition:all 1s;

}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .head,
.sad .kid-container > .kid .head {
  transform:rotate(0deg);
}

.kid-container > .kid .face {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  z-index: 20;
  top: 50px;
  left: 70px;
  width: 80px;
  height: 87px;
  background: #f1d1c7;
  position: absolute;
}

.kid-container > .kid .hair {
  z-index: 3;
      top: 34px;
      left: 66px;
      width: 100px;
      height: 74px;
      border-radius: 60px 60px 20px 20px;
      background: #bfa871;
      position: absolute;
      transform: rotate(25deg);
}
.kid-container > .kid .hair:before, .hair:after {
  position: absolute;
  content: '';
  position: absolute;
}

.kid-container > .kid .ear {
  z-index: 4;
  top: 86px;
  left: 61px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #F0BEAF;
  display: none;
  position: absolute;
}
.kid-container > .kid .ear:before {
  position: absolute;
  top: 5px;
  left: 4px;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  background: #ED8A80;
}

.kid-container > .kid .ear.right {
  left: 130px;
  position: absolute;
}

.kid-container > .kid .fringe {
  z-index: 99;
  top: 53px;
  left: 95px;
  width: 69px;
  height: 35px;
  background: #bfa871;
  border-radius: 0 0 100px 100px;
  transform: rotate(30deg);
  position: absolute;
}
.kid-container > .kid .fringe:before {
  position: absolute;
  content: '';
  top: 5px;
  left: -24px;
  width: 56px;
  height: 50px;
  background: #bfa871;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.kid-container > .kid .eyebrow {
  z-index: 300;
  top: 86px;
  left: 74px;
  width: 12px;
  height: 2px;
  transform: rotate(13deg);
  background: #646B73;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: absolute;
  transition-delay: 8s;
  transition: all 1s;
}
.kid-container > .kid .eyebrow:before {
  position: absolute;
      content: '';
      left: 44px;
      top: -10px;
      width: 12px;
      height: 2px;
      background: #646B73;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
}

.kid-container > .kid .eye {
  z-index: 30;
  top: 93px;
  left: 75px;
  width: 6px;
  height: 6px;
  background: #306dab;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  transition-delay: 8s;
  transition: all 1s;
}
.kid-container > .kid .eye:before {
  position: absolute;
  content: '';
  left: 45px;
  width: 6px;
  height: 6px;
  background: #306dab;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  transition-delay: 8s;
  transition: all 1s;
}
.kid-container > .kid .mouth {
  z-index: 20;
  top:114px;
  left: 97px;
  width: 30px;
  height: 15px;
  border-radius: 0 0 100px 100px;
  background: #424B54;
  overflow: hidden;
  position: absolute;
  transition-delay: 8s;
  transition: all 1s;
}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .eye ,
.sad .kid-container > .kid .eye {
  left: 87px;
}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .eye:before,
.sad .kid-container > .kid .eye:before {
  left: 43px;
}


.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .eyebrow,
.sad .kid-container > .kid .eyebrow {
  left: 85px;
}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .mouth {

}
.kid-placeholder.waveHand .kid-container > .kid .mouth {
  border-radius: 100px 100px 0px 0px;
}
.sad.kid-placeholder .kid-container > .kid .mouth {
  border-radius: 100px 100px 0px 0px;
  top:111px;
}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .eyebrow:before
.sad .kid-container > .kid .eyebrow:before {
  left: 42px;
}

.kid-container > .kid .tongue {
  top: 5px;
  left: 8px;
  width: 30px;
  height: 20px;
  background: #F6828C;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
}

.kid-container > .kid .neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: #F0BEAF;
  top: 116px;
  left: 97px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
}

.kid-container > .kid .body {
  z-index: 10;
  top: 128px;
  left: 70px;
  width: 87px;
  height: 104px;
  background: #7fd0f9;
  border-radius: 100px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 100px;
  position: absolute;
}
.kid-container > .kid .body > .brand-name {
  position: relative;
  display:block;
  color: red;
  /* font-weight: 800; */
  font-size: 13px;
  font-family: cursive;
  top: 20px;
  left: 15px;
  /* text-shadow: 1px 1px 1px white; */
}
.kid-container > .kid .lefthand {
  z-index: 10;
  top: 56px;
  left: 69px;
  width: 27px;
  height: 87px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #80c7ea;
  border-radius: 100px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 100px;
  position: absolute;
  -webkit-transform-origin: 27px 87px;
  -ms-transform-origin: 27px 87px;
  transform-origin: 56% 95%;
  transition: background .5s;
}
.kid-placeholder:not(.waveHand) .kid-container:hover > .kid .lefthand
.sad.waveHand .kid-container > .kid .lefthand {
  z-index: 9;
  background: #80c7ea;
}

.waveHand .kid-container > .kid .lefthand {
  background: #7fd0f9;
  -webkit-animation: waveHand 6s normal forwards; /* Safari 4+ */
  -moz-animation:    waveHand 6s normal forwards; /* Fx 5+ */
  -o-animation:      waveHand 6s normal forwards; /* Opera 12+ */
  animation:         waveHand 6s normal forwards; /* IE 10+, Fx 29+ */
  -webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
  animation-timing-function: ease;
}

.kid-container > .kid .lefthand:after {
  z-index: 50;
  content: "";
  display: block;
  top: -5px;
  left: 0px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #f1d1c7;
  border-radius: 100px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 100px;
  position: absolute;
}

.kid-container > .kid .righthand {
  z-index: 1;
  top: 134px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  left: 138px;
  width: 27px;
  height: 91px;
  background: #70b8de;
  border-radius: 100px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 100px;
  position: absolute;
}
.kid-container > .kid .righthand:after {
  z-index: 0;
  content: "";
  display: block;
  bottom: -5px;
  left: 0px;
  width: 27px;
  height: 27px;

  background: #f1d1c7;
  border-radius: 100px;
  -webkit-border-radius: 0px 0px 23px 23px;
  -moz-border-radius: 100px;
  position: absolute;
}
.kid-container > .kid .cape {
  z-index: 4;
  top: 148px;
  left: 43px;
  width: 130px;
  height: 160px;
  background: #E15554;
  border-radius: 60px 60px 0 0;
  position: absolute;
}
.kid-container > .kid .belt {
  position: absolute;
  height: 11px;
  width: 82px;
  border-radius: 5px 5px 0px 0px;
  top: 221px;
  left: 73px;
  background: black;
  z-index: 10;
}
.kid-container > .kid .leftleg {
  position: absolute;
  height: 100px;
  width: 45px;
  border-radius: 0px 0px 0px 0px;
  top: 228px;
  left: 68px;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  background: #1b5877;
  z-index: 1;
}
.kid-container > .kid .leftleg:after {
  position: absolute;
  height: 20px;
  width: 55px;
  border-radius: 20px 0px 5px 5px;
  bottom: -15px;
  left: -9px;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  background: black;
  z-index: 0;
  content:"";
}

.kid-container > .kid .rightleg {
  position: absolute;
  height: 100px;
  width: 45px;
  border-radius: 0px 0px 0px 0px;
  top: 228px;
  left: 115px;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  background: #1b5877;
  z-index: 0;
}
.kid-container > .kid .rightleg:after {
  position: absolute;
  height: 20px;
  width: 55px;
  border-radius: 0px 20px 5px 5px;
  bottom: -15px;
  left: -1px;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  background: black;
  z-index: 0;
  content:"";
}
.kid-container > .kid .earth {
  position: absolute;
  height: 2px;
  width: 500px;
  z-index: 100;
  bottom: -344px;
  left: -200px;
  box-shadow: 10px 5px 27px green;
  display:none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes waveHand {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  5% {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  30% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  45% {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  60% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
  }
}
@keyframes waveHand {
    0% {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    5% {
      -webkit-transform: rotate(-40deg);
      -moz-transform: rotate(-40deg);
      -o-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
    30% {
      -webkit-transform: rotate(-80deg);
      -moz-transform: rotate(-80deg);
      -o-transform: rotate(-80deg);
      -ms-transform: rotate(-80deg);
      transform: rotate(-80deg);
    }
    45% {
      -webkit-transform: rotate(-40deg);
      -moz-transform: rotate(-40deg);
      -o-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
    60% {
      -webkit-transform: rotate(-80deg);
      -moz-transform: rotate(-80deg);
      -o-transform: rotate(-80deg);
      -ms-transform: rotate(-80deg);
      transform: rotate(-80deg);
    }
    75% {
      -webkit-transform: rotate(-40deg);
      -moz-transform: rotate(-40deg);
      -o-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
    100% {
      -webkit-transform: rotate(-160deg);
      -moz-transform: rotate(-160deg);
      -o-transform: rotate(-160deg);
      -ms-transform: rotate(-160deg);
      transform: rotate(-160deg);
    }
}
