.packman-component {
  white-space:nowrap;
  overflow:hidden;
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  display:block;
  position:relative;
}
.packman-component > .text {
  font-size:1.4em;
  margin:auto;
  margin-bottom:10px;
  position:relative;
  display:block;
  width:450px;
  text-decoration:none;
  text-align:center;
}
.packman-component > .text > .character {
  display:inline-block;
  min-width:20px;
  text-align:center;
  position:relative;
}
.packman-component > .text > .character.small {
  font-size: .7em;
  position: relative;
  color: #777;
  padding-right: 5px;
  top: 1px;
}
.packman-component > .text > .character.one {
  color:#4885ed;
}
.packman-component > .text > .character.two {
  color:#db3236;
}
.packman-component > .text > .character.repeated {
  color:#f4c20d;
}
.packman-component > .text > .character.four{
  color:#4885ed;
}
.packman-component > .text > .character.five {
  color:#3cba54;
}
.packman-component > .text > .character.six {
  color:#db3236;
}
.packman-component > .text > .character > label {
  font-weight:bold;
}
.packman-component > .object {
  position:absolute;
  top:7px;
  -webkit-animation: packman 40s infinite;
  animation: packman 40s infinite;
}

.packman-component > .object > .pacman {

}
.packman-component > .object > .pacman:after {
  content:"";
  width:3px;
  height:3px;
  position:relative;
  background:black;
  display:block;
  border-radius:50%;
  top:-25px;
  left:18px;
}

.packman-component > .object > .pacman > .pacman-top {
  background-color:#DDD;
  height:15px;
  width:30px;
  border-radius:15px 15px 0 0;
  animation: spin1 0.5s infinite linear;
}

.packman-component > .object > .pacman > .pacman-bottom {
  background-color:#DDD;
  height:15px;
  width:30px;
  border-radius:0 0 15px 15px;
  animation: spin2 0.5s infinite linear;
}

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}
@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}
@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

.packman-component > .object > .white-block {
  height:100%;
  display:inline-block;
  position:absolute;
  width:300px;
  left:-280px;
  background:white;
}
.packman-component > .object > .white-block:before {
  content:"";
  display:inline-block;
  border-radius:50% 0px 0px 50%;
  height:100%;
  width:250px;
  position:relative;
  left:-250px;
  background: #f9f9f9; /* For browsers that do not support gradients */
  background: linear-gradient(to right, transparent, white); /* Standard syntax (must be last) */
}

@keyframes packman {
  0%   { left:-5%; opacity: 1; }
  100% { left: 105%; opacity: 1; }
}
@-webkit-keyframes packman {
  0%   { left:-5%; opacity: 1; }
  100% { left: 105%; opacity: 1; }
}
