/*.index {
  display:fixed;
  height:100%;
  width:100%;
    background:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index > .box {
  margin-top:-30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 2px 30px rgba(black, .2);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position:relative;
    display:none;
}


.index > .box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
.index > .text {
  position:absolute;
  width:100%;
  height:0px;
  overflow:visible;
}
.index > .text > * {
  width: 100%;
  z-index: 1;
  font-size: 24px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;

  font-size: 24px;
  text-indent: .3em;
  position:relative;
  color:black;
  top:120px;
}
.index > .text > .title {
  font-weight:bold;
  color:#407dbb;
  letter-spacing: .4em;
}
.index > .text > .subtitle {
  color:black;
  margin-top:5px;
  font-size:18px;
  letter-spacing: .2em;
}
@keyframes driftMe {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
*/
