.index {
  width:100%;
  height:100%;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.index,
.index * {
    box-sizing: border-box;
}
.index > form {
  display:inline-block;

}
.index > form > h2 {
  font-size:28px;
  color:#777;
  text-shadow:3px 3px 3px #EEE;
}
.index > form > h2 > b {
  color:red;
}
.index > form > div.search > label {
  white-space:nowrap;
}
.index > form > div.search > label > input {
  border-radius:5px 0px 0px 5px;
  border:1px solid #DDD;
  border-right:none;
  padding:8px;
}
.index > form > div.search > input {
  border-radius:0px 5px 5px 0px;
  border:1px solid #DDD;
  border-left:none;
  background:#DDD;
  padding:8px 10px;
  cursor:pointer;
}
.index > form > div.search > input:hover {
  background:#CCC;
}
.index > form > div.search > label > input,
.index > form > div.search > input {
  vertical-align:top;
  height:35px;
  box-shadow:3px 3px 3px #EEE;
}
.index > form > div.error {
  color:red;
  white-space:nowrap;
  font-size:12px;
  display:none;
  margin-top:5px;
  font-style: italic;
}
.index > form > div.error.show {
  display:block;
}
.index > form > h4 {
  font-size:17px;
  color:#8c8c8c;
  font-weight:normal;
  text-shadow:3px 3px 3px #EEE;
}
.index > form > h4 > b {
  color:black;
}

.projects-container {
    margin-top:30px;
    width:100%; 
    min-height:200px;
    display:block;  
}
.projects-container > h4 {
  margin-bottom:0px;
  padding:0px;
  color:red;
}
.projects-container > .project {
  border:1px solid #DDD;
  padding:8px;
  margin:10px 0px;
  background:white;

  cursor:pointer;
  text-align:left;
  box-shadow:3px 3px 3px #EEE;
  border-radius:4px;
}
.projects-container > .project:hover {
  background:#f9f9f9;
}
.projects-container > .project > label {
  font-weight:bold;
  margin-bottom:5px;
  font-size:15px;
  color:black;
}
.projects-container > .project > .description {
  font-weight:normal;
  font-size:12px;
  color:#777;
}
