.index {
  padding:50px 10px;
  text-align:center;
}
.index > form{
  max-width:1600px;
  margin:auto;
}
.index,
.index * {
    box-sizing: border-box;
}
.index > form > div > img {
  width:100%;
  display:none;
}


.index > form > h2 {
  font-size:28px;
  color:#777;
  text-shadow:3px 3px 3px #EEE;
}
.index > form > h2 > b {
  color:red;
}
.index > form > div.search {
  margin:auto;
  position:relative;
  max-width:400px;
}
.index > form > div.search > label {
  white-space:nowrap;
}
.index > form > div.search > label > input {
  border-radius:5px 5px 5px 5px;
  border:1px solid #DDD;
  border-right:none;
  font-size:20px;
  padding:8px;
  width:100%;

}
.index > form > div.search > input {
  border-radius:0px 5px 5px 0px;
  border:1px solid #DDD;
  border-left:none;
  background:#DDD;
  padding:8px 10px;
  cursor:pointer;
  position:absolute;
  right:0px;
  top:0px;
  font-size:20px;
  border:1px solid #DDD;

}
.index > form > div.search > input:hover {
  background:#CCC;
}
.index > form > div.search > label > input,
.index > form > div.search > input {
  vertical-align:top;
  height:40px;
  box-shadow:3px 3px 3px #EEE;
}
.index > form > div.error {
  color:red;
  white-space:nowrap;
  font-size:12px;
  display:none;
  margin-top:5px;
  font-style: italic;
}
.index > form > div.error.show {
  display:block;
}
.index > form > h4 {
  font-size:17px;
  color:#8c8c8c;
  font-weight:normal;
  text-shadow:3px 3px 3px #EEE;
}
.index > form > h4 > b {
  color:black;
}

.projects-container {
    width:100%; 
    min-height:200px;
    display:block;  
    margin-top:70px;
}
.projects-container > h4 {
  margin-bottom:0px;
  padding:0px;
  color:#777;
}
.projects-container > .project {
  border:1px solid #DDD;
  padding:8px;
  margin:10px 10px 0px 0px;
  overflow:hidden;
  cursor:pointer;
  text-align:left;
  box-shadow:3px 3px 3px #EEE;
  border-radius:4px;
  width:500px;
  display:inline-block;
}
.projects-container > .project:hover {
  border:1px solid #777;
}
.projects-container > .project > label {
  font-weight:bold;
  margin-bottom:5px;
  font-size:20px;
  color:black;

}
.projects-container > .project > .description {
  font-weight:bold;
  font-size:17px;
  color:#777;
}
.projects-container > .project > .technology {
  font-weight:normal;
  font-size:15px;
  color:#777;
}
.projects-container > .project > .date {
  font-weight:normal;
  font-size:12px;
  color:#777;
}
