.home-button {
  display:inline-block;
  border:1px solid #EEE;
  background:#EEE;
  text-decoration:none;
  margin:0px 4px;
  padding:8px;
  color:#636363;
  position:relative;
  top:2px;
  left:-4px;
}
.home-button.active {
  border:1px solid #4885ed;
  color: #4885ed;
  background:#ebf3ff;
  transition: all .4s;
}
.home-button.active:hover {
  color:green;
  border:1px solid green;
}
.home-button .back-icon {
  padding-right:5px;
}