@media screen and (max-width: 768px) {
  .logo {
    position:initial;
    top:auto;
    left:auto;
    margin-bottom:0px;
    width:100%;
  }
  .logo.onSmallMovePostfix .postfix {
    margin-left:5px;
    position:relative;
    left:initial;
    right:initial;
    top:2px;
    display:inline;
    font-size: 14px;
  }

  .logo .left-eye,
  .logo .right-eye,
  .logo .smile {

  }
}
