@media screen and (max-width: 470px) {
  .game.ready,
  .game.play {
    width:320px;
    height:500px;
    margin-left:-160px;
  }
}
@media screen and (min-width: 470px) and (max-width: 650px){
  .game.ready,
  .game.play {
    width:452px;
    height:500px;
    margin-left:-226px;
  }
}
@media screen and (min-width: 650px) and (max-width: 850px){
  .game.ready,
  .game.play {
    width:600px;
    height:500px;
    margin-left:-300px;
  }
}
@media screen and (max-width: 850px) {
  .game.show-score > .score {
    font-size:70px;
  }
}
