@media screen and (max-width: 768px) {
  .search-bar {
    width:100%;
    padding:0px;
    box-sizing:border-box;
    max-width:450px;
    min-width: 0px !important;
  }
  .search-bar > .search {
    width:initial;
  }
}
