body, html {
  background:white;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  min-height:100%;
  height:100%;
}
#root,
#root > div {
  min-height:100%;
  height:100%;
}
@media screen and (max-width: 980px) {
  ::-webkit-scrollbar {display:none;}
}

.button {
  cursor:pointer;
}

.bblue {
  background:#4885ed;
}
.bred {
  background:#db3236;
}
.bgreen {
  background:#3cba54;
}
.byellow {
  background:#f4c20d
}

.blightblue {
  background:#e0ecff;
}
.blightred {
  background:#ffcece;
}
.blightgreen {
  background:#d7efdb;
}
.blightyellow {
  background:#fff6d8;
}

.cgrey {
  color:#DDD;
}

.cdarkgrey {
  color:#777;
}

.cblue {
  color:#4885ed;
}
.cred {
  color:#db3236 !important;
}
.cgreen {
  color:#3cba54;
}
.cyellow {
  color:#f4c20d
}

div.crazy {
  width: 50px;
  height:1000px;
  position:fixed;
  transition: background 1s;
  border-radius:50px 50px 50px 50px;
}

/* --------------------- */


.box-wave {
  position: relative;
  transform: translate3d(0, 0, 0);
}
.box-wave .wave {
  opacity: .4;
  position: absolute;
  top: -5%;
  z-index: 0;
  left: -5%;
  background: #0af;
  width: 110%;
  height: 110%;
  -webkit-transform-origin: 50% 48%;
  -ms-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift-box 3000ms infinite linear;
  animation: drift-box 3000ms infinite linear
}
.box-wave .wave.-three {
  animation: drift-box 5000ms infinite linear;
}
.box-wave .wave.-two {
  animation: drift-box 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}
.box-wave .box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
@keyframes drift-box {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
